<main>
  <section>
    <div class="container">
      <div class="row">
        <ol class="breadcrumb">
          <li><a ui-sref="inicio">Inicio</a></li>
          <li class="active">Atividades</li>
        </ol>
        <div class="pagina-atividadeAviso">
          <i class="fa fa-pencil fa-4x fa-lg"></i><h1>Ativdade Sobre a Guerra do Paraguai</h1>
        </div>
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="alert alert-warning">
              <h2 class="text-center text-warning">Atenção</h2>
            </div>
            <h4>A atividade a seguir está relacionada ao video <span class="text-primary">"Guerra do Paraguai - A nossa grande guerra"</span>,
            é recomendável assistir ao video antes de responder as perguntas.<br><br>Deseja assistir ao video agora?</h4>
            <br>
            <a ui-sref="guerra" class="btn btn-success btn-lg btn-block">Sim, assistir ao vídeo</a>
            <a ui-sref="atividadeGuerra" class="btn btn-danger btn-lg btn-block">Não, seguir para a atividade</a>
        </div>
      </div>
    </div>
  </section>
</main>
