<main>
  <section>
    <div class="container">
      <div class="row">
        <ol class="breadcrumb">
          <li><a ui-sref="inicio">Inicio</a></li>
          <li class="active">Atividades</li>
        </ol>
        <div class="pagina-atividadeAviso">
          <i class="fa fa-pencil fa-4x fa-lg"></i>
          <h1>Atividade Sobre a Origem de Ponta Porã</h1>
        </div>
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="alert alert-warning">
              <h2 class="text-center text-warning">Atenção</h2>
            </div>
            <h4>Antes de começar a atividade, que tal assistir o vídeo para ajudar nas respostas?<br><br>Assistir ao video agora?</h4>
            <br>
            <a ui-sref="origemPontaPora">
              <button type="button" class="btn btn-success btn-lg btn-block">Sim, vamos assistir ao vídeo</button>
            </a>
            <br>
            <a ui-sref="atividadeOrigemPonta">
              <button type="button" class="btn btn-danger btn-lg btn-block">Não, já estou preparado(a). Ir para a atividade</button>
            </a>
          </div>
        </div>
      </div>
  </section>
</main>
