<main>
<section class="destaques" style="background-image: url('content/ponta.jpeg');">
  <div class="container">
    <h1>
      <span>
        <h2 class="h3-destaques text-uppercase">Destaques</h2>
      </span>
    </h1>
    <div class="row">
      <div class="destaque destaque-1 col-lg-8 col-md-8 col-sm-12 col-xs-12">
        <a ui-sref="origemPontaPora">
          <span>
            <i class="fa fa-play-circle fa-2x"></i>
            <b class="video-destaque">A História de Ponta Porã</b>
          </span>
          <img src="content/historia_ponta.png" alt="" class="destaque-1">
        </a>
      </div>
      <div class="destaque destaque-2 col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <a ui-sref="atividadesAviso">
        <span>
          <i class="fa fa-pencil fa-2x icone-atividade2"></i>
          <b class="atividade-destaque">História de Ponta Porã</b>
        </span>
        <img src="content/atividade.png" alt="" class="destaque-2">
      </a>
      </div>
      <div class="destaque destaque-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <a ui-sref="museu">
          <span>
            <i class="fa fa-university fa-2x icone-jogo2"></i>
            <b class="jogo-destaque">O Mistério do Castelo</b>
          </span>
          <img src="content/castelinho.jpg" class="destaque-3">
        </a>
      </div>
    </div>
  </div>
  </section>

  <section class="jogos">
  <div class="container">
    <h1>
      <span>
        <i class="fa fa-university fa-2x museu-icon" aria-hidden="true"></i>
        <h2 class="h3-jogo">Museu</h2>
      </span>
    </h1>
    <div class="row">
      <div class="jogo jogo-1 col-lg-8 col-md-8 col-sm-12 col-xs-12">
        <a ui-sref="museu">
          <span>
            <i class="fa fa-university fa-2x icone-jogo2-maior" aria-hidden="true"></i>
            <b class="titulo-jogo2-maior">Monumento Princesinha dos Ervais</b>
          </span>
          <img src="content/cuia_entrada.jpg" alt="" class="jogo-1">
          </a>
      </div>
      <div class="jogo jogo-2 col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <a ui-sref="museu">
          <span>
            <i class="fa fa-university fa-2x icone-jogo2" aria-hidden="true"></i>
            <b class="titulo-jogo">Castelinho</b>
          </span>
          <img src="content/castelinho.jpg" alt="" class="jogo-2">
          </a>
      </div>
      <div class="jogo jogo-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <a ui-sref="museu">
          <span>
            <i class="fa fa-university fa-2x icone-jogo2" aria-hidden="true"></i>
            <b class="titulo-jogo">Linha Ferroviária</b>
          </span>
          <img src="content/trem.jpg" alt="" class="jogo-3">
          </a>
      </div>
    </div>
  </div>
  </section>

  <section class="videos">
  <div class="container">
    <h1>
      <span>
        <i class="fa fa-play-circle fa-2x video-icon" aria-hidden="true"></i>
        <h2 class="h3-video">Videos</h2>
      </span>
    </h1>
    <div class="row">
      <div class="video video-1 col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <a ui-sref="origemPontaPora">
          <span>
            <i class="fa fa-play-circle fa-2x icone-video2"></i>
            <b class="titulo-video-maior">A História de Ponta Porã</b>
          </span>
          <img src="content/historia_ponta.png" alt="" class="video-1">
        </a>
      </div>

      <div class="video video-1 col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <a href="#">
          <span>
            <i class="fa fa-play-circle fa-2x icone-video2"></i>
            <b class="titulo-video">Em Breve</b>
          </span>
          <img src="content/soon.png" alt="" class="video-1">
        </a>
      </div>
    </div>
  </div>
  </section>

  <section class="atividades">
  <div class="container">
    <h1>
      <span>
        <i class="fa fa-pencil fa-2x atividade-icon"></i>
        <h2 class="h3-atividade">Atividades</h2>
      </span>
    </h1>
    <div class="row">
      <div class="atividade atividade-1 col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <a href="#">
          <span>
            <i class="fa fa-pencil fa-2x icone-atividade2"></i>
            <b class="titulo-atividade">História de Ponta Porã</b>
          </span>
          <img src="content/atividade.png" alt="" class="atividade-1">
        </a>
      </div>
      <div class="atividade atividade-2 col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <a ui-sref="atividadeMuseu">
          <span>
            <i class="fa fa-pencil fa-2x icone-atividade2"></i>
            <b class="titulo-atividade">Questões sobre o museu</b>
          </span>
          <img src="content/atividades_museu.png" alt="" class="atividade-1">
        </a>
      </div>
      <div class="atividade atividade-3 col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <a href="#">
          <span>
            <i class="fa fa-pencil fa-2x icone-atividade2"></i>
            <b class="titulo-atividade">Em Breve</b>
          </span>
          <img src="content/soon_atividade.png" alt="" class="atividade-1">
        </a>
      </div>
    </div>
  </div>
</section>
</main>
