<main class="pagina-jogos">
  <section class="conteudo-jogos">
    <div class="container">
      <h1>
        <span>
          <i class="fa fa-gamepad fa-2x pagina-jogos-icon"></i>
          <h2>Jogos</h2>
        </span>
      </h1>
      <div class="row">
        <div class="atividade col-lg-4 col-md-4 col-sm-4 col-xs-12">
          <a ui-sref="quiz">
            <span>
              <i class="fa fa-gamepad fa-2x icone-jogo2"></i>
              <b class="titulo-jogo">Quiz sobre Ponta Porã</b>
            </span>
            <img src="content/quiz.png" alt="">
          </a>
        </div>
        <div class="atividade col-lg-4 col-md-4 col-sm-4 col-xs-12">
          <a>
            <span>
              <i class="fa fa-gamepad fa-2x icone-jogo2"></i>
              <b class="titulo-jogo">Lorem Ipsum</b>
            </span>
            <img src="content/dog.jpg" alt="">
          </a>
        </div>
        <div class="atividade col-lg-4 col-md-4 col-sm-4 col-xs-12">
          <a>
            <span>
              <i class="fa fa-gamepad fa-2x icone-jogo2"></i>
              <b class="titulo-jogo">Lorem Ipsum</b>
            </span>
            <img src="content/toronto-984543_640.jpg" alt="">
          </a>
        </div>
      </div>
    </div>
  </section>
</main>
