<main class="pagina-jogos" ng-controller="timelineCtrl">
  <section class="conteudo-museu">
    <div class="container-fluid">
      <div class="row">
        <div class="container">
          <ol class="breadcrumb">
            <li><a ui-sref="inicio">Inicio</a></li>
            <li class="active">Museu</li>
          </ol>
        </div>
      <br><br>
        <section class="intro">
          <div class="container-time">
            <h1 style="font-size: 60px; color: yellow;">Museu Online</h1>
          </div>
        </section>
        <section class="timeline">
          <ul>
              <li>
                <div>
                  <a href="#" data-toggle="modal" data-target=".bs-example-modal-lg">
                    <img src="content/museu_erva.jpg" alt="" class="thumbnail img-responsive img-rounded">
                    <h4>Museu da erva mate</h4>
                  </a>
                </div>
              </li>


              <li>
                <div>
                  <a href="#" data-toggle="modal" data-target=".modal2">
                    <img src="content/museu_cavalaria.jpg" alt="" class="thumbnail img-responsive img-rounded">
                    <h4>11º Regimento de cavalaria mecanizada</h4>
                  </a>
                </div>
              </li>

              <li>
                <div>
                  <a href="#" data-toggle="modal" data-target=".modal3">
                    <img src="content/cuia_entrada.jpg" alt="" class="thumbnail img-responsive img-rounded">
                    <h4>Monumento Princesinha dos Ervais</h4>
                  </a>
                </div>
              </li>

              <li>
                <div>
                  <a href="#" data-toggle="modal" data-target=".modal4">
                    <img src="content/castelinho.jpg" alt="" class="thumbnail img-responsive img-rounded">
                    <h4>Castelinho de Ponta Porã</h4>
                  </a>
                </div>
              </li>

              <li>
                <div>
                  <a href="#" data-toggle="modal" data-target=".modal5">
                    <img src="content/trem.jpg" alt="" class="thumbnail img-responsive img-rounded">
                    <h4>Estação ferroviária de Ponta Porã</h4>
                  </a>
                </div>
              </li>


          </ul>

<!-- Modals relativo às imagens  -->

          <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
            <div class="modal-dialog modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Fechar"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title">Museu da erva mate</h4>
                </div>
                <div class="modal-body">
                  <img src="content/museu_erva.jpg" width="100%" height="100%" align="center" class="img-rounded">
                  <br><br>
                  <p>
                    Inaugurado no dia 13 de junho de 1997 pelo seu criador, José Benites Cardenas, “Seu Toté Benites”,
                    como era conhecido, o Museu, cadastrado no Instituto do Patrimônio Histórico e Artístico Nacional – IPHAN,
                    possui mais de 3 mil peças históricas como livros, jornais, imagens, objetos de metal, couro, madeira e vegetal.
                  </p>
                  <p class="text-right">
                    Fonte:  <a href="http://www.ervamatesantoantonio.com.br/museu/" style="color:#286090;">Erva Mate Santo Antônio</a>
                  </p>

                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-primary btn-lg btn-block" data-dismiss="modal">Sair</button>
                </div>
              </div>
            </div>
          </div>

          <div class="modal fade modal2" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
            <div class="modal-dialog modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Fechar"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title">11º Regimento de cavalaria mecanizada</h4>
                </div>
                <div class="modal-body">
                  <img src="content/museu_cavalaria.jpg" align="center" class="img-rounded"><br><br>
                  <p>
                    Criado em 11 de dezembro pelo Presidente da República Epitácio Pessoa, o então 11º Regimento de cavalaria Independente,
                    agora regimento de cavalaria mecanizada (RC MEC), instala-se num terreno doado pela companhia mate laranjeira e
                    tornou-se marco do povoamento em Ponta Porã.
                  </p>
                  <p class="text-right">
                    Fonte:  Livro Ponta Porã em Foco
                  </p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-primary btn-lg btn-block" data-dismiss="modal">Sair</button>
                </div>
              </div>
            </div>
          </div>

          <div class="modal fade modal3" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
            <div class="modal-dialog modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Fechar"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title">Monumento Princesinha dos Ervais</h4>
                </div>
                <div class="modal-body">
                  <img src="content/cuia_entrada.jpg" align="center" class="img-rounded"><br><br>
                  <p>
                    O monumento Princesinha dos ervais, localizado no trevo de acesso a cidade através da BR 463,
                     foi criado pelo senhor Adelio Luiz Basso e foi confeccionado com ferro, tijolo e cimento,
                     o monumento é constituído por um prolongo do qual se faz a cuia para tomar chimarrão ou mate
                     e é utilizado também para transportar agua.
                  </p>
                  <p class="text-right">
                    Fonte:  Livro Ponta Porã em Foco
                  </p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-primary btn-lg btn-block" data-dismiss="modal">Sair</button>
                </div>
              </div>
            </div>
          </div>

          <div class="modal fade modal4" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
            <div class="modal-dialog modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Fechar"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title">Castelinho de Ponta Porã</h4>
                </div>
                <div class="modal-body">
                  <img src="content/castelinho.jpg" align="center" class="img-rounded"><br><br>
                  <p>
                    O Castelinho já foi gabinete do Presidente Getúlio Vargas quando Ponta Porã se tornou
                    Território Federal em 1943 onde o “Castelinho” funcionava como sede da Guarda Nacional.
                    O prédio tem características de fortificação, sendo um exemplar de arquitetura em estilo militar.
                    Em fins de 1940 o prédio passa a abrigar a cadeia pública e por muitos anos foi também quartel da
                    4º Companhia Independente da Polícia Militar.
                  </p>
                  <p class="text-right">
                    Fonte: <a href="http://www.fundacaodecultura.ms.gov.br/castelinho-de-ponta-pora-esta-aberta-licitacao-para-escolha-da-empresa-para-projeto-do-restauro" style="color:#286090;">Fundação de Cultura</a>
                  </p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-primary btn-lg btn-block" data-dismiss="modal">Sair</button>
                </div>
              </div>
            </div>
          </div>

          <div class="modal fade modal5" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
            <div class="modal-dialog modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Fechar"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title">Estação ferroviária de Ponta Porã</h4>
                </div>
                <div class="modal-body">
                  <img src="content/trem.jpg" align="center" class="img-rounded"><br><br>
                  <p>
                    A estação de Ponta Porã foi inaugurada em 1953, a linha da Noroeste que ligava Campo Grande à fronteira paraguaia -
                    o ramal de Ponta Porã - saía da estação de Indubrasil, na linha-tronco e chegava a Ponta Porã, na fronteira com o Paraguai.
                    Demorou 9 anos para que o ramal ficasse pronto, chegando primeiro a Maracaju em 1944, a Dourados em 1949 e somente em 1953
                    à estação terminal.
                  </p>
                  <p class="text-right">
                    Fonte:  <a href="http://www.estacoesferroviarias.com.br/ms_pontapora/ponta.htm" style="color:#286090;">Estações Ferroviárias do Brasil</a>
                  </p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-primary btn-lg btn-block" data-dismiss="modal">Sair</button>
                </div>
              </div>
            </div>
          </div>

        </section>
      </div>
    </div>
  </section>
</main>
