<main>
  <section class="pagina-sobre">
    <div class="container-fluid">
      <div class="row">
          <div class="col-sm-12 pagina-sobre-equipe" align="center">
            <div class="container" align="left">
              <ol class="breadcrumb">
                <li><a ui-sref="inicio">Inicio</a></li>
                <li class="active">Sobre</li>
              </ol>
            </div>
            <h1 class="text-uppercase">Conheça a equipe</h1>
            <div class="col-md-3 pagina-sobre-perfil">
              <a href="#" class="hvr-fade">
                <img src="https://scontent.fmgf1-1.fna.fbcdn.net/v/t1.0-9/20770114_1413894998701877_5370236565031680644_n.jpg?oh=57cb2f4c4fe30a93ad23c67d0056d2c8&oe=5AA5FD44" alt="" class="img-circle" height="220px" width="220px">
              </a>
              <h3>Nícolas Cruz</h3>
              <p>Orientado, Desenvolvedor</p>
            </div>

            <div class="col-md-3 pagina-sobre-perfil">
              <img src="https://scontent.fmgf1-1.fna.fbcdn.net/v/t1.0-9/20597113_1846453578714602_7454191143113180274_n.jpg?oh=02998af09eac6cae8f198acfc760924c&oe=5AA9FDDC" alt="" class="img-circle" height="220px" width="220px">
                <h3>Maira Cavalheiro</h3>
                <p>Orientada, Pesquisadora</p>
            </div>

            <div class="col-md-3 pagina-sobre-perfil">
              <img src="https://scontent.fmgf1-1.fna.fbcdn.net/v/t1.0-9/1467453_514107342030588_1987053103_n.jpg?oh=b7cba9ccffaf06e8e7f09711a3951569&oe=5AAE85D6" alt="" class="img-circle" height="220px" width="220px">
                <h3>Jorge Walder</h3>
                <p>Desenvolvedor</p>
            </div>

            <div class="col-md-3 pagina-sobre-perfil">
              <img src="https://scontent.fmgf1-1.fna.fbcdn.net/v/t1.0-9/12669634_10153989951309455_1638835215679063624_n.jpg?oh=0ee1dacc9f4e6f0c4395258b222af6c8&oe=5A948516" alt="" class="img-circle" height="220px" width="220px">
                <h3>Anderson Lima</h3>
                <p>Orientador</p>
            </div>
          </div>

          <div class="col-sm-12 pagina-sobre-projeto">
            <div class="container" align="center">
              <h2 class="text-uppercase" style="color: #000;">Sobre o projeto </h2>
              <p class="text-justify lead">O design de tecnologia para as crianças tem recebido atenção redobrada durante os últimos anos. As
                crianças encontram e utilizam vários sistemas de software de forma ubíqua, sem que se deem conta:
                telefones celulares, jogos diversos, comunicadores na internet. As crianças estão formando uma
                população bastante experiente no uso dessas tecnologias, de maneira muito diferente das gerações de
                seus pais [Melo 2008]. Neste contexto, o campo de pesquisa em design de interação e desenvolvimento
                de ferramentas computacionais para o público infantil aponta ser bastante promissor. Em particular, a cada
                dia, novas aplicações pedagógicas para o ensino e aprendizagem de crianças estão sendo construídas e
                disponibilizadas. Entretanto, é preciso que o projeto destas ferramentas seja elaborado de forma a motivar
                o aprendizado e a garantir uma satisfatória experiência de usabilidade para as crianças. A área da
                Interação Criança Computador (ICC) busca compreender este universo e direcionar da melhor forma
                possível o design de interação e o desenvolvimento de ferramentas computacionais focadas no público
                infantil. Além do desafio de construir aplicações educativas de ICC, que conquistem o público infantil, um
                desafio ainda maior e urgente é o de garantir a inclusão de crianças com necessidades educativas
                especiais neste novo ambiente de aprendizado. A proposta deste trabalho consiste então de ações de
                design e desenvolvimento de aplicações educativas híbridas, que contemplem aspectos fundamentais de
                acessibilidade na web e de interação criança computador.</p>
            </div>
          </div>
        </div>
      </div>
  </section>
</main>
