<main>
  <section class="pagina-sobre">
    <div class="container-fluid">
      <div class="row">
          <div class="col-sm-12 pagina-sobre-equipe" align="center">
            <div class="container" align="left">
              <ol class="breadcrumb">
                <li><a ui-sref="inicio">Inicio</a></li>
                <li class="active">Sobre</li>
              </ol>
            </div>
            <h1 class="text-uppercase">Conheça a equipe</h1>
            <div class="col-md-3 pagina-sobre-perfil">
              <a href="#" class="hvr-fade">
                <img src="https://scontent-mia1-1.xx.fbcdn.net/v/t1.0-9/11150403_811603085597741_7311653243009365993_n.jpg?oh=315ba46a32b9cfaa4d8bb6bf518ba4f9&oe=59B4CAE6" alt="" class="img-circle" height="220px" width="220px">
              </a>
              <h3>Nícolas Cruz</h3>
              <p>Orientado, Desenvolvedor</p>
            </div>

            <div class="col-md-3 pagina-sobre-perfil">
              <img src="https://scontent-gru2-2.xx.fbcdn.net/v/t1.0-9/17629984_1694556957237599_3540372103004508359_n.jpg?oh=78f31ef20abe19249602d5f6faadef22&oe=598F72D9" alt="" class="img-circle" height="220px" width="220px">
                <h3>Maira Cavalheiro</h3>
                <p>Orientada, Pesquisadora</p>
            </div>

            <div class="col-md-3 pagina-sobre-perfil">
              <img src="https://scontent-gru2-2.xx.fbcdn.net/v/t1.0-9/1467453_514107342030588_1987053103_n.jpg?oh=f054d97835beb7e542a884595765a404&oe=59721DD6" alt="" class="img-circle" height="220px" width="220px">
                <h3>Jorge Walder</h3>
                <p>Desenvolvedor</p>
            </div>

            <div class="col-md-3 pagina-sobre-perfil">
              <img src="https://scontent-gru2-2.xx.fbcdn.net/v/t1.0-9/12669634_10153989951309455_1638835215679063624_n.jpg?oh=3b8206e7b9dfb133ef1ad50e13d2c566&oe=59581D16" alt="" class="img-circle" height="220px" width="220px">
                <h3>Anderson Lima</h3>
                <p>Orientador</p>
            </div>
          </div>

          <div class="col-sm-12 pagina-sobre-projeto">
            <div class="container" align="center">
              <h2 class="text-uppercase" style="color: #000;">Sobre o projeto </h2>
              <p class="text-justify lead">O design de tecnologia para as crianças tem recebido atenção redobrada durante os últimos anos. As
                crianças encontram e utilizam vários sistemas de software de forma ubíqua, sem que se deem conta:
                telefones celulares, jogos diversos, comunicadores na internet. As crianças estão formando uma
                população bastante experiente no uso dessas tecnologias, de maneira muito diferente das gerações de
                seus pais [Melo 2008]. Neste contexto, o campo de pesquisa em design de interação e desenvolvimento
                de ferramentas computacionais para o público infantil aponta ser bastante promissor. Em particular, a cada
                dia, novas aplicações pedagógicas para o ensino e aprendizagem de crianças estão sendo construídas e
                disponibilizadas. Entretanto, é preciso que o projeto destas ferramentas seja elaborado de forma a motivar
                o aprendizado e a garantir uma satisfatória experiência de usabilidade para as crianças. A área da
                Interação Criança Computador (ICC) busca compreender este universo e direcionar da melhor forma
                possível o design de interação e o desenvolvimento de ferramentas computacionais focadas no público
                infantil. Além do desafio de construir aplicações educativas de ICC, que conquistem o público infantil, um
                desafio ainda maior e urgente é o de garantir a inclusão de crianças com necessidades educativas
                especiais neste novo ambiente de aprendizado. A proposta deste trabalho consiste então de ações de
                design e desenvolvimento de aplicações educativas híbridas, que contemplem aspectos fundamentais de
                acessibilidade na web e de interação criança computador. Pretende-se também construir um website sobre
                o grupo de pesquisa e suas ações, projetos e propostas. desenvolvidas no projeto.</p>
            </div>
          </div>
        </div>
      </div>
  </section>
</main>
