<main class="pagina-videos">
  <section class="conteudo-videos">
    <div class="container">
      <ol class="breadcrumb">
        <li><a ui-sref="inicio">Inicio</a></li>
        <li class="active">Vídeos</li>
      </ol>
      <h1>
        <span>
          <i class="fa fa-play-circle fa-2x pagina-videos-icon"></i>
          <h2>Vídeos</h2>
        </span>
      </h1>
      <div class="row">
        <div class="video col-lg-4 col-md-4 col-sm-4 col-xs-12">
          <a ui-sref="origemPontaPora">
            <span>
              <i class="fa fa-play-circle fa-2x icone-video2"></i>
              <b class="titulo-video">Origem de Ponta Porã</b>
            </span>
            <img src="content/guerra-do-paraguai.jpg" alt="">
          </a>
        </div>
        <div class="video col-lg-4 col-md-4 col-sm-4 col-xs-12">
          <a href="#">
            <span>
              <i class="fa fa-play-circle fa-2x icone-video2"></i>
              <b class="titulo-video">Lorem Ipsum</b>
            </span>
            <img src="content/guerra-do-paraguai.jpg" alt="">
          </a>
        </div>
        <div class="video col-lg-4 col-md-4 col-sm-4 col-xs-12">
          <a href="#">
            <span>
              <i class="fa fa-play-circle fa-2x icone-video2"></i>
              <b class="titulo-video">Lorem Ipsum</b>
            </span>
            <img src="content/toronto-984543_640.jpg" alt="">
          </a>
        </div>
      </div>
    </div>
  </section>
</main>
