<main>
  <section>
    <div class="container">
      <ol class="breadcrumb">
        <li><a ui-sref="inicio">Inicio</a></li>
        <li><a ui-sref="atividades">Atividades</a></li>
        <li class="active">Atividade - A Origem de Ponta Porã</li>
      </ol>
      <div class="col-sm-12 pagina-jogo">
        <i class="fa fa-gamepad fa-4x"></i>
        <h1> Quiz sobre a Origem de Ponta Porã</h1>
      </div>
      <div class="row">
        <div class="col-sm-12" ng-controller="quizCtrl">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3>Questão 1</h3>
            </div>
            <div class="panel-body">
              <h3>{{quiz.question}}</h3><br>
              <form>
                <div class="form-group" data-toggle="buttons" ng-repeat="answers in quiz.answers">
                  <label class="btn btn-resposta btn-lg btn-block">
                  <input type="radio" name="options" id="option1" autocomplete="off"> {{answers.answer}}
                </label>
                </div>


                <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="sr-only">Fechar</span><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Modal title</h4>
                      </div>
                      <div class="modal-body">
                        <h1 class="text-center">PARABÉNS VOCÊ ACERTOU AMIGUINHO!!!!!!!</h1>
                        <img src="/content/vetor_cuia.png" class="non-shadow" alt="" width="50%" style="padding-left:150px;">
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-success" onclick="window.location='index.html';"> Ir para próxima questão <i class="fa fa-arrow-circle-right"></i></button>
                      </div>
                    </div>
                    <!-- /.modal-content -->
                  </div>
                  <!-- /.modal-dialog -->
                </div>
                <!-- /.modal -->
            </div>
          </div>
        </div>

        <div class="container-fluid form-group">
          <div class="col-md-6">
            <a href="#" class="hvr-icon-spin btn btn-danger btn-lg btn-block">Tentar Novamente</a><br>
            <!-- <button type="button" class="btn btn-danger btn-lg btn-block">Tentar Novamente</button>-->
          </div>
          <br>
          <div class="col-md-6">
            <a href="#" class="hvr-icon-grow btn btn-success btn-lg btn-block" data-toggle="modal" data-target=".bs-example-modal-sm">Ver Resultado</a>
            <!-- <button type="button" class="btn btn-success btn-lg btn-block" data-toggle="modal" data-target=".bs-example-modal-sm">Ver resultado</button> -->
          </div>
        </div>

        </form>
      </div>
  </section>
</main>
