<main>
  <section>
    <div class="container">
      <div class="row">
        <ol class="breadcrumb">
          <li><a ui-sref="inicio">Inicio</a></li>
          <li><a ui-sref="videos">Vídeos</a></li>
          <li class="active">Guerra do Paraguai - A nossa Grande Guerra</li>
        </ol>
        <div class="pagina-video">
          <i class="fa fa-play-circle fa-4x fa-lg pagina-video-icon"></i><h1>Guerra do Paraguai - A nossa Grande Guerra</h1>
        </div>
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="col-sm-8">
              <div class="embed-responsive embed-responsive-16by9">
                  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/k2VqNkAMeJU"></iframe>
              </div>
            </div>
            <div class="col-md-4">
                <h4><b>Videos Recomendados</b></h4>
            </div>

            <div class="col-sm-4">
              <div class="media">
                <div class="media-left">
                  <a href="#">
                    <img class="media-object" src="https://i.ytimg.com/vi/C4oqw7G-jfg/hqdefault.jpg?custom=true&w=168&h=94&stc=true&jpg444=true&jpgq=90&sp=68&sat=0.3&sigh=fZTI7iWUDsw0UfCkicicHT9kNd0" alt="">
                  </a>
                </div>
                <div class="media-body">
                  <h4 class="media-heading">Resumo de História: GUERRA DO PARAGUAI (Débora Aladim)</h4>
                </div>
              </div><br>
              <div class="media">
                <div class="media-left">
                  <a href="#">
                    <img class="media-object" src="https://i.ytimg.com/vi/C4oqw7G-jfg/hqdefault.jpg?custom=true&w=168&h=94&stc=true&jpg444=true&jpgq=90&sp=68&sat=0.3&sigh=fZTI7iWUDsw0UfCkicicHT9kNd0" alt="">
                  </a>
                </div>
                <div class="media-body">
                  <h4 class="media-heading">Resumo de História: GUERRA DO PARAGUAI (Débora Aladim)</h4>
                </div>
              </div><br>
              <div class="media">
                <div class="media-left">
                  <a href="#">
                    <img class="media-object" src="https://i.ytimg.com/vi/C4oqw7G-jfg/hqdefault.jpg?custom=true&w=168&h=94&stc=true&jpg444=true&jpgq=90&sp=68&sat=0.3&sigh=fZTI7iWUDsw0UfCkicicHT9kNd0" alt="">
                  </a>
                </div>
                <div class="media-body">
                  <h4 class="media-heading">Resumo de História: GUERRA DO PARAGUAI (Débora Aladim)</h4>
                </div>
              </div>
        </div>
      </div>
      <div class="container">
        <div class="col-md-8">
          <h4>Há uma atividade relacionada a este vídeo, deseja fazer agora?</h4>
          <!-- <button type="button" class="btn btn-success btn-lg" onclick="window.location='atividades/atividadeGuerra.html';">
            Ir para atividade
          </button> -->
          <a ui-sref="atividadeGuerra" class="btn btn-success btn-lg hvr-icon-wobble-horizontal">Ir para atividade </a>
          <br><br>
        </div>
      </div>
    </div>
    </div>
  </section>
</main>
